.box1{
    width: 30px;
    height: 30px;
    background: #DF1F58;
    overflow: hidden;
    margin: 50px;
    border-radius: 6px;
    position: relative;
}

.box1 span{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid white;
    width: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.box2{
    width: 30px;
    height: 30px;
    background: #DF1F58;
    overflow: hidden;
    margin: 80px;
    border-radius: 6px;
    position: relative;
}

.box2 span{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid white;
    width: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}